Requirements -->
Python 3.x installed on your system
pip (Python package manager)
flask-sqlalchemy (pip install flask flask-sqlalchemy)

This is a simple app for note keeping with these features:
-Add notes
-View notes
-Delete notes
-Timestamp for each note
-Simple search

Backend: Python (Flask) and SQLite DB



